<h1>Edit Basket</h1>
<div class="col-md-5" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
    <form class="form-horizontal">
        <fieldset >
            <legend style="color:darkblue;">Edit Order for Product: <b>{{orderToEdit.productName}}</b></b></legend>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                <div class="alert alert-success" role="alert" ng-show="success">{{success}}</div>
                <label for="quantity" class="control-label col-xs-3"><span class="label label-info">Quantity</span></label>
                <div class="col-xs-9">
                    <input type="number" class="form-control" ng-model="orderToEdit.productAmount" id="quantity" placeholder="INSERT AMOUNT" min="1" max="5">
                </div>
            </div>
        </fieldset>
    </form>
    <div class="form-group">
        <button href=""  type="submit" ng-click="editBasket(orderToEdit.productAmount)" class="btn btn-primary">Save</button>
    </div>
</div>