<h1>Products</h1>
<div class="alert alert-danger" role="alert" ng-show="externalError">{{externalError}}</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <b>Products list - </b> Number of products : <i>{{products.length}}</i>
            </a>
        </div>
    </div>
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Search in Products : <input type="search" ng-model="productfilter" placeholder="Filter products">
            </a>
        </div>
    </div>
</nav>
<div class="alert alert-success" ng-show="success">{{success}}
    <a href="#/basket">
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Check Basket
        </button>
    </a>
</div>
<accordion close-others="true">
    <accordion-group ng-repeat="product in products | filter: productfilter">
        <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
        <accordion-heading>{{product.productName}}</accordion-heading>
        <b>Price per unit : </b>{{product.unitPrice}}<br/><br/>
        <a href="#/products/{{product._id}}">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>More info
            </button>
        </a>
        <br/>
        <div class="col-md-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
            <form class="form-horizontal">
                <fieldset>
                    <legend style="color:darkblue;">Order {{product.productName}} Now!</legend>
                    <div class="form-group">
                        <label for="amount" class="control-label col-xs-3"><span class="label label-info">Amount</span></label>
                        <div class="col-xs-9">
                            <input type="number" class="form-control" ng-model="amount" id="amount" placeholder="Amount"
                                   min="1" max="5">
                        </div>
                    </div>
                </fieldset>
            </form>
            <button type="submit" ng-click="addProductToBasket(product, amount)" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add to basket
            </button>
        </div>
    </accordion-group>
</accordion>
