<h1>Orders</h1>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p><code>Number of orders in our database: {{orders.length}}</code></p>
Find your treasure in our chamber : <input type="search" ng-model="orderfilter" placeholder="Filter orders"><br/>
<a href="#/adminHome">
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
    </button>
</a>
<table class="table">
    <thead>
    <tr>
        <td><b><a href="" ng-click="predicate = 'userAlias'; reverse=!reverse">Alias:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'status'; reverse=!reverse">Status:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'productID'; reverse=!reverse">Product ID:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'quantity'; reverse=!reverse">Quantity:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'orderDate'; reverse=!reverse">Order Date:</a></b></td>
        <td><b>Functionality:</b></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders | filter: orderfilter | orderBy:predicate:reverse">
        <td>{{order.userAlias}}</td>
        <td><a href="#/control/orders/particular/{{order._id}}">{{order.status}}</a></td>
        <td>{{order.productID}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.orderDate | date:'medium'}}</td>
        <td>
            <button type="button" class="btn btn-default btn-sm" ng-click="adminEditOrder(order)">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Edit
            </button>
            <font size="5">|</font>
            <button type="button" class="btn btn-default btn-sm"  ng-click="adminDeleteOrder(order)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>