<table class="table">
    <thead>
    <tr>
        <td><b><a href="" ng-click="predicate = 'orderID'; reverse=!reverse">Order ID:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'paymentAmount'; reverse=!reverse">Payment Amount:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'paymentDate'; reverse=!reverse">Payment Date:</a></b></td>
        <td><b>Functionality:</b></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="payment in payments  | orderBy:predicate:reverse">
        <td>{{payment.orderID}}</td>
        <td>{{payment.paymentAmount}}</td>
        <td>{{payment.paymentDate}}</td>
        <td>
            <button type="button" class="btn btn-default btn-sm" href="#/adminHome"
                    ng-click="deleteUser(user.userName)">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Edit
            </button>
            <font size="5">|</font>
        <button type="button" class="btn btn-default btn-sm" href="#/adminHome" ng-click="deleteUser(user.userName)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
        </td>
    </tr>
    </tbody>
</table>
<input type=button onClick="parent.location='#/adminHome'" value='AdminMain' class="btn btn-primary">