<h1>Payments</h1>
<p><code>Number of payments in our database: {{payments.length}}</code></p>
Search in payments : <input type="search" ng-model="paymentfilter" placeholder="Filter payments"><br/>
<a href="#/adminHome">
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
    </button>
</a>

<table class="table">
    <thead>
    <tr>
        <td><b><a href="" ng-click="predicate = 'userAlias'; reverse=!reverse">Alias:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'orderID'; reverse=!reverse">Order ID:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'paymentAmount'; reverse=!reverse">Payment Amount:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'isPayed'; reverse=!reverse">Is Payed:</a></b></td>
        <td><b><a href="" ng-click="predicate = 'paymentDate'; reverse=!reverse">Payment Date:</a></b></td>
        <td><b>Functionality:</b></td>
    </tr>
    </thead>

    <tbody>
    <tr class="rowlink" ng-repeat="payment in payments | filter: paymentfilter | orderBy:predicate:reverse">
        <td>{{payment.userAlias}}</td>
        <td>
            <a href="#/control/orders/particular/{{payment.orderID}}">{{payment.orderID}}</a></td>
        <td>{{payment.paymentAmount}}</td>
        <td> {{payment.isPayed}}</td>
        <td>{{payment.paymentDate | date:'medium'}}</td>
        <td>
            <button type="button" class="btn btn-default btn-sm" ng-click="adminEditPayment(payment)">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Edit

            </button>

            <a href="#/control/payments/particular/{{payment._id}}">
                <button type="button" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show Details
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>



