</accordion>
<accordion close-others="true">
    <accordion-group ng-repeat="product in products">
        <accordion-heading>{{product.productName}}</accordion-heading>
        <b>Description : </b><p>{{product.productDescription}}</p>
        <b>Price per unit : </b><p>{{product.unitPrice}}</p>
        <a href="#/products/order/{{product._id}}">
            <button type="button" class="btn btn-default btn-sm" ng-click="saveProduct(product)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"
                          href="#/product/order"></span>
                Order This Product Now!
            </button>
        </a>
    </accordion-group>
</accordion>
